<h1><%= @meetup.name %></h1>

<h3>Description</h3>
<%= @meetup.description %>

<h3>Location</h3>
<%= @meetup.location %>

<h5>Join this meetup</h5>
<div>
  <form action="/meetup/<%= @meetup.id %>" method="post">
    <input type="submit" value="join">
  </form>
</div>

<h5>Leave this meetup</h5>
<div>
  <form action="/leave/<%= @meetup.id %>" method="post">
    <input type="submit" value="leave">
  </form>
</div>

<div>
<h5>Who is attending?</h5>
<ul>
  <% @attendees.each do |member| %>
  <li><%= member.username %></li>
  <img src="<%= member.avatar_url %>" alt="users_avatar" height="100" width="100">
  <% end %>
</ul>
</div>

<div class="container">
  <form action="/comments/<%= @meetup.id %>" method="post">
    <div>
      <h5>Talk about this meetup! In space!</h5>
      <textarea name="comment" id="comment" row="10" cols="50">Put your space meetup comment here!</textarea>
    </div>
    <input type="submit" />
  </form>
</div>
