<h1><%= @title %></h1>

<h3>Add a new Meetup in Space!</h3>

<div class="container">
  <form action="/" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="textarea" id="name" name="name">
    </div>

    <div>
      <label for="Description">Description:</label>
      <input type="textarea" id="description" name="description">
    </div>

    <div>
      <label for="Location">Location:</label>
      <input type="textarea" id="location" name="location">
    </div>

    <input type="submit" />
  </form>

<table width="100%">
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Location</th>
</tr>

<tr>
  <% @Meetups.each do |meetup| %>
<td><a href="/meetup/<%= meetup.id %>"><%= meetup.name %></a></td>
<td><%= meetup.description %></td>
<td><%= meetup.location %></td>
</tr>
<% end %>
</table>
